#imgSlider{
    width: 38%;
    margin: auto;
    height: 800px;
    /* border: 5px solid black; */
}




/* #carousalbtns{
    width: 500px;
    height: 15px;
    margin: auto;
    margin-bottom: 30px;
    display: none;
}

#carousalbtns > button{
    width: 80px;
    height: 10px;
    border: 1px solid black;
    border-radius: 10px;
    display: none;
} */

/* // */

#salesADsHovereffect{
    /* width: 50%; */
    width: 42%;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content:flex-start;
    align-content:flex-start;
    text-align: left;

    /* margin-left: -300px; */
    /* border-left: 5px solid black; */
    overflow: hidden; 
    /* margin: 0 auto;  */
}

#salesADsHovereffect img { 
    width: 100%; 
    /* height: 700px; */
    /* overflow: hidden; */
    
    transition: 0.5s all ease-in-out; 
} 

#salesADsHovereffect img:hover { 
    transform: scale(1.1); 
    /* overflow: hidden; */
} 

/* // */

#salesADsHovereffect > a {
    width: 33%;
    /* width: 1240px; */
}

#salesADs{
    /* width: 48%; */
    width: 40%;
}

#virusPrecations{
    /* width: 48%; */
    width: 40%;
}

a>img{
    width: 100%;
}

/* // */

#brandsHeading{
    margin-left: 500px;
    /* margin: auto;
    text-align: center; */
}

#brands{
    width: 40%;
    display: flex;
    flex-direction: row;
    /* overflow: scroll; */
    margin: 10px  70px;
}

#brands img{
    width: 150px;
    margin: 5px 40px;
    
}

img:hover{
    cursor: pointer;
}

/* // */


#outer {
    /* float: left; */
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    /* padding: 0px 50px; */
}

#left-button {
    float: left;
    width: 30px;
    text-align: center;
}

#right-button {
    float: right;
    width: 30px;
    text-align:center;
    
}

a {
    text-decoration: none;
    font-weight: bolder;
    color: rgb(31, 25, 25);
    font-size: 50px;
    align-content: center;
    text-align: center;
    /* margin:10px  ; */
    
}
